body {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #111827;

}

p {
    margin: 0px;
}

#main-container {
    width: 550px;
    height: 730px;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    background: #1F2937;
}

#top-container {
    width: 550px;
    height: 285px;
    box-sizing: border-box;
    background: #6943FF;
    margin-bottom: 36px;
    padding: 33px;
    
    font-weight: 800;
    font-size: 28px;
    color: white;
}

#top-container p {
    line-height: 38px;
}

input {
    width: 117px;
    height: 83px;
    box-sizing: border-box;
    border: solid #B295FF 2px;
    border-radius: 5px;
    background: #6943FF;
    margin-bottom: 26px;

    text-align: center;
    font-weight: 800;
    font-size: 58px;
    color: white;
}

button {
    width: 117px;
    height: 42px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;

    font-weight: 500;
    font-size: 16px;
    color: #3D3D3D;
}

.unit-container {
    height: 110px;
    width: 500px;
    box-sizing: border-box;
    margin: 24px auto;
    padding-top: 31px;

    background-color: #273549;
}

.unit-p {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin: 0px;

    color: #CCC1FF;
}

.convertion-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 9px;

    color: #FFFFFF;
}